@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Slabo+27px:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Titillium+Web:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Barlow:ital,wght@0,400;0,700;1,400;1,700&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Inter:wght@100..900&display=swap');
@import url('https://ghlcusomizer.s3.amazonaws.com/font_awesome/css/all_with_font.css');

/* Login Page & Dashboard Variables */
:root {
    /* Login Page */
    --login-headline-font: Barlow;
    --login-body-font: 'Source Sans Pro';
    --login-card-bg-color: #0a000000;
    --login-card-bg-gradient: linear-gradient(250deg, #00000000 88%, #00000000 100%);
    --login-card-border-width: 0.3rem;
    --login-card-border-radius: 24px;
    --login-card-border-style: solid;
    --login-card-border-color: #ffffff00;
    --login-card-width: 520px;
    --login-logo-width: 166px;
    --login-logo-height: 100px;
    --login-logo-margin-top: 67px;
    --login-logo-margin-bottom: 0px;
    --login-logo-margin-left: 0px;
    --login-logo-margin-right: 0px;
    --login-input-label-color: #280505ff;
    --login-input-text-color: #333333;
    --login-input-bg-color: #ffffffff;
    --login-input-alert-color: #ff001eff;
    --login-input-label-font-size: 18px;
    --login-input-font-size: 16px;
    --login-input-border-width: 0.1rem;
    --login-input-border-radius: 24px;
    --login-input-border-style: double;
    --login-input-border-color: #2FB1EE;
    --login-input-height: 44px;
    --login-button-text-color: #ffffffff;
    --login-button-hover-text-color: #E36087;
    --login-button-bg-color: #ffffff00;
    --login-button-hover-bg-color: #2FB1EE;
    --login-button-font-size: 20px;
    --login-button-bg-gradient: linear-gradient(99deg, #2FB1EE 0%, #2FB1EE 66%);
    --login-button-border-width: 0.1rem;
    --login-button-border-radius: 24px;
    --login-button-border-style: solid;
    --login-button-border-color: #2FB1EE;
    --login-button-width: 370px;
    --login-button-height: 39px;
    --login-footer-text-color: #280505ff;
    --login-footer-font-size: 16px;
    --login-headline-text-color: #280505ff;
    --login-headline-font-size: 36px;
    --login-link-text-color: #2FB1EE;
    --login-link-text-size: 16px;
    --login-other-text-color: #280505ff;
    --login-other-text-size: 18px;
    --login-bg-color: #095ed600;
    --login-bg-gradient: linear-gradient(125deg, #2FB1EE 0%, #8D48D2 100%);
    --login-company-logo: url(https://utfs.io/f/sH5pgReFcWgLQAeJ9z0dPI94y2mkYtnejMwvNx6cb1FOaXiJ);
    --login-background-image: url(https://utfs.io/f/975c8d87-cc55-4ebc-a420-7daec11de8f5-c6f3zo.jpg);

    /* Dashboard */
    --headline-font: Roboto;
    --body-font: Poppins;
    --logo-width: 150px;
    --logo-height: 40px;
    --sidebar-menu-width: 200px;
    --sidebar-menu-height: 40px;
    --header-icon-width: 32px;
    --header-icon-height: 32px;
    --primary-color: #155EEF;
    --second-color: #53B1FD;
    --grey-color: #165ef029;
    --warning-color: #dca206ff;
    --dark-color: #1A202C;
    --scroll-color: #1A202C;
    --app-bg-color: #1A202C;
    --Acent-color: #4B5563;
    --alert-color: #ff0101ff;
    --white-color: #ffffffff;
    --sidebar-menu-icon-color: #ffffffff;
    --sidebar-menu-icon-hover-color: #ffffffff;
    --sidebar-menu-icon-active-color: #ffffffff;
    --sidebar-menu-icon-font-size: 20px;
    --sidebar-menu-color: #f9fafbff;
    --sidebar-menu-active-color: #ffffffff;
    --sidebar-menu-hover-color: #ffffffff;
    --sidebar-menu-bg: #1a202b00;
    --sidebar-menu-hover-bg: #1a202cff;
    --sidebar-menu-active-bg: #1a202cff;
    --sidebar-menu-font-size: 14px;
    --sidebar-menu-bg-gradient: linear-gradient(250deg, #00000000 88%, #00000000 100%);
    --sidebar-menu-border-width: 0;
    --sidebar-menu-border-radius: 8px;
    --sidebar-menu-border-style: groove;
    --sidebar-menu-border-color: #16181c00;
    --sidebar-bg-color: #2D3748;
    --sidebar-main-bg-gradient: linear-gradient(250deg, #00000000 88%, #00000000 100%);
    --card-body-font-color: #1a202cff;
    --card-body-bg-color: #ffffffff;
    --card-body-font-size: 22px;
    --card-body-border-width: 0.1rem;
    --card-body-border-radius: 16px;
    --card-body-border-style: groove;
    --card-body-border-color: #29031800;
    --card-body-box-shadow: 3px 3px 24px -4px #300f203d;
    --card-footer-font-color: #ffffffff;
    --card-footer-bg-color: #1a202cff;
    --card-footer-font-size: 22px;
    --card-title-font-color: #1a202cff;
    --card-dec-font-color: #4b5563ff;
    --card-header-bg-color: #ffffffff;
    --card-title-font-size: 18px;
    --card-dec-font-size: 14px;
    --card-header-bg-gradient: linear-gradient(250deg, #00000000 88%, #00000000 100%);
    --card-header-border-width: 0 0 0.1rem 0;
    --card-header-border-radius: 1px;
    --card-header-border-style: groove;
    --card-header-border-color: #b8b8b86b;
    --header-icon-color: #ffffffff;
    --header-icon-hover-color: #e7e9eaff;
    --header-icon-bg: #1a202cff;
    --header-icon-hover-bg: #4b5563ff;
    --header-icon-font-size: 22px;
    --header-icon-bg-gradient: linear-gradient(250deg, #00000000 88%, #00000000 100%);
    --header-bg-color: #ffffffff;
    --header-main-bg-gradient: linear-gradient(250deg, #00000000 88%, #00000000 100%);
    --header-main-box-shadow: 0px 2px 12px 0px #2b07031a;
    --top-nav-menu-color: #2a3941ff;
    --top-nav-menu-active-color: #38a9e5ff;
    --top-nav-menu-hover-color: #38a9e5ff;
    --top-nav-menu-bg: #ffffffff;
    --top-nav-menu-hover-bg: #f25a0700;
    --top-nav-menu-active-bg: #f25a0700;
    --top-nav-menu-font-size: 14px;
    --top-nav-border-width: 0 0 0.1rem 0;
    --top-nav-border-radius: 1px;
    --top-nav-border-style: solid;
    --top-nav-border-color: #ffffff00;
    --top-nav-border-hover-width: 0 0 0.1rem 0;
    --top-nav-border-hover-radius: 1px;
    --top-nav-border-hover-style: solid;
    --top-nav-border-hover-color: #53b1fdff;
    --top-nav-border-active-width: 0 0 0.1rem 0;
    --top-nav-border-active-radius: 1px;
    --top-nav-border-active-style: solid;
    --top-nav-border-active-color: #53b1fdff;
    --top-nav-title-color: #607179;
    --top-nav-title-font-size: 24px;
    --top-nav-bg-color: #165ef000;
    --top-nav-bg-gradient: linear-gradient(250deg, #00000000 88%, #00000000 100%);
}
